.Titulo {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    border: solid rgb(26, 0, 170) 5px;
    background-color: rgb(106, 188, 212);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.intro,.monumentos,.buscar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin-top: 5px;
    text-indent: 6px;
    
}
.intro{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 90px;
    border: solid rgb(231, 124, 199) 5px;
    background-color: rgb(236, 169, 206);
    -webkit-text-fill-color: rgb(255, 255, 255);
    border-style: double;
    

}

.monumentos{
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    border: solid rgb(26, 0, 170) 5px;
    border: solid rgb(231, 124, 199) 5px;
    border-style: double;
}

.buscador{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 750px;
    border: solid rgb(26, 0, 170) 5px;
    border: solid rgb(231, 124, 199) 5px;
    background-color: rgb(236, 169, 206);
    font-style: oblique;
    border-style: double;
}
#map {
width: 80%;
height: 500px;
margin: 20px auto;
border-radius: 10px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
